
// $baseClass: 'n-popup';
// $baseContainerCls: 'n-popup_container';
// $baseContentCls: 'n-popup_content';


.n-popup__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: 0.8s ease-in-out;
  visibility: hidden;
  z-index: 2020;
  &.isShow {
    visibility: visible;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.n-popup__close {
  position: absolute;
  visibility: hidden;
  &.closeShow {
    visibility: visible;
  }
}


.n-popup {
  position: fixed;
  // overflow-y: auto;
  background-color: #fff;
  transition: 0.4s ease-in-out;
  z-index: 2021;
  &.isShow {
    transform: translateX(0px) !important;
    transform: translateY(0px) !important;
    transition: 0.4s ease-in-out;
  }

  &.bottom {
    width: 100vw;
    bottom: 0;
    transform: translateY(100%);
  }

  &.left {
    height: 100vh;
    left: 0;
    transform: translateX(-101%);
  }

  &.right {
    height: 100vh;
    right: 0;
    transform: translateX(100%);
  }

  &.top {
    width: 100vw;
    top: 0;
    transform: translateY(-100%);
  }

}

.n-popup__content {
  width: auto;
  height: 100%;
  overflow: auto;

  
}