
p {
  margin: 0;
}

.popup-view {


  .pop-container {
    position: relative;
    padding-bottom: 10rem;
    .bottom-btn {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: cadetblue;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
      color: #fff;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }

  }

  
}