

.popup-view {


  .pop-container {
    position: relative;
    padding-bottom: 10rem;
    .bottom-btn {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: cadetblue;
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 20px;
      color: #fff;
    }

  }

  
}